* {
   font-family: Arial;
}
body {
   margin: 0px; 
   padding: 0px; 
}
header {
   display: flex;
   justify-content: center;
   height: 120px;
}
.container {
   width: 990px;
   display: flex;
   justify-content: space-between;
}
.logo,
.menu {
   display: flex;
   align-items: center;
}
nav ul,
nav li {
   list-style: none;
   margin: 0px;
   padding: 0px;
}
nav ul {
   display: flex;
}
nav a {
   display: block;
   padding: 15px;
   text-decoration: none;
   text-transform: uppercase;
   color: #727272;
}
nav .active a,
nav a:hover {
   background-color: #39aae1;
   color: #FFFFFF;
}
#banner {
   display: flex;
   justify-content: center;
   background-image: url('../images/img1.jpg');
   background-position: center;
   background-size: cover;
   height: 670px;
}
 .column {
   flex-direction: column;
}
.banner_headline {
   flex:1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.banner_headline h1 {
   color: #FFFFFF;
   font-size: 50px;
   text-shadow: 0px 1px 0px #555555;
   margin: 0px;
   padding: 0px;
   max-width: 400px;
   line-height: 60px;
}
.banner_headline h2 {
   color: #FFFFFF;
   font-size: 21px;
   text-shadow: 0px 1px 0px #555555;
   margin: 0px;
   padding: 0px;
   max-width: 400px;
   margin-top: 30px;
   line-height: 35px;
}
.column .banner_options {
   display: flex;
   height: 210px;
}
.conteudobanner1,
.conteudobanner2,
.conteudobanner3 {
   flex: 1;
   color: #FFFFFF;
   padding: 20px;
}
.conteudobanner1{
   background-color: #39aae1;
}
.conteudobanner2{
   background-color: #0079c7;
}
.conteudobanner3{
   background-color: #2b4c99;
}
.banner_title{
   font-size: 21px;
}
.banner_desc {
   font-size: 13px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.banner_options a {
   display: inline-block;
   border: 1px solid #FFFFFF;
   text-decoration: none;
   padding: 7px;
   margin-top: 10px;
   color: #FFFFFF;
   font-size: 13px;
}
.days {
   color: #FFFFFF;
   font-size: 14px;
   padding: 15px 15px 15px 0px;
   border-bottom: 0.5px solid #FFFFFF;
}
.conteudobanner3 .days, .hours {
   display: flex;
   justify-content: space-between;
}
#geral {
   display: flex;
   justify-content: center;
}
#geral section {
   flex: 2;
}
#geral aside {
   flex: 1;
}
.widget_title {
   margin-top: 30px;
   margin-bottom: 20px;
}
.widget_title_text {
   color: black;
   font-size: 20px;
   font-weight: bold; 
}
.widget_title_bar {
   width: 50px;
   height: 2px;
   background-color: #36a9e1;
   margin-top: 10px;
}
.widget_body1 {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.box_blue {
   display: flex;
   width: 140px;
   height: 140px;
   background-color: #36a9e1;
   margin-top: 30px;
}
.widget_body2 {
   padding-bottom: 20px;
}
.address,
.address1,
.address2 {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid gray;
}
.address2 a {
   text-decoration: none;
   color: #0079c7;
}
.widget_body {
   display: flex;
   flex-wrap: wrap;
}
article {
   flex: 1;
   min-width: 300px;
   margin-right: 20px;
}
article a {
   text-decoration: none;
}
article .news_data {
   display: flex;
}
article .news_posted_at {
   background-color: #2b4c99;
   color: #FFFFFF;
   font-size: 12px;
   padding: 10px;
   margin-right: 2px;
}
article .news_comments {
   background-color: #39aae1;
   color: #FFFFFF;
   font-size: 12px;
   padding: 10px;
}
article .news_thumbnail {
   margin-top: 30px;
}
article .news_thumbnail img{
   width: 100%;
   height: auto;
}
 article .news_title {
   color: black;
   font-size: 23px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 article .news_resume {
   font-size: 14px;
   line-height: 20px;
   color: #5c5c5c;
   margin-bottom: 30px ;
 }
 footer {
   background-color: #1e1e1e;
   display: flex;
   justify-content: center;
 }
.footer_menu {
   display: flex;
}
.footer_menu a {
   display: block;
   text-decoration: none;
   padding: 20px;
   color: #FFFFFF;
}
.flexColumn {
   flex-direction: column;
}
.fm_1, .fm_2, .fm_3 {
   flex: 1;
   color: #FFFFFF;
}
.fm_1 {
   background-color: #39aae1;
}
.fm_2 {
   background-color: #0079c7;
}
.fm_3 {
   background-color: #2b4c99;
}
.footer_area {
   display: flex;
}
.footer_areaitem {
   flex: 1;
   color: #FFFFFF;
}
footer .widget_title_text {
   color: #FFFFFF;
   font-weight: normal;
}
.footer_copy {
   border-top: 1px solid #2c2c2c;
   height: 40px;
   line-height: 40px;
   color: #5c5c5c5c;
   font-size: 12px;
   margin-top: 30px;
}
.medicenter_desc {
   font-size: 13px;
   margin-bottom: 30px;
   line-height: 19px;
   color: #4d4a4a;
}
.addrees_medicenter {
   font-size:13px;
   line-height: 19px;
   color: #4d4a4a;
}
.contacts_medicenter {
   font-size: 13px;
   color: #4d4a4a;
}
.email_medicenter {
   color: #FFFFFF;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
.medi_latest_comentarios {
   font-size: 13px;
   color: #FFFFFF;
   margin-bottom: 15px;
}
.medi_latest_comentarios p {
   color: #39aae1;
   font-size: 10px;
}
.medi_latest_tweets a {
   text-decoration: none;
   color: #b5a9a9;
}
.medi_latest_tweets{
  font-size: 13px;
}
.medi_latest_tweets p {
   color: #39aae1;
   font-size: 10px;
}
.menuMobile {
   display: none;
   width: 40px;
   height: 40px;
   margin-bottom: 40px;
   margin-top: 40px;
   margin-right: 20px;
}
.mm_line {
   height: 3px;
   background-color: #39aae1;
}

@media (max-width:600px) {
   .banner_headline {
      padding: 20px;
   }
   .banner_headline h1 {
      font-size: 55px;
   }
   .banner_headline h2 {
      font-size: 17px;
   }
   .banner_options {
      height: auto ;
      flex-direction: column;
   }
   .container {
      flex-direction: column;
   }
   #geral section,
   #geral aside {
      padding: 20px;
   }
   .footer_menu {
      flex-direction: column;
   }
   .footer_area {
      flex-direction: column;
      padding: 20px;
   }
   .footer_copy {
      padding-left: 20px;
   }
   #geral {
      margin-top: 350px;
   }
   header .container {
      flex-direction: row;
   }
   nav ul {
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #FFF;
   }
   header {
      height: auto;
   }
   .logo {
      padding: 20px;
   }
   .menuMobile {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
}